@model HotelManagerReponsity_MVC.ViewModel.RoomBookingOfBookingViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Room_Booking</h2>
@using (Html.BeginForm("SearchRoom", "Room_Booking", FormMethod.Post))
{
    <div class="col-lg-12">
        
        <div class="col-lg-5" style="font-weight:bold;font-size:15px;">
            Từ ngày:@Html.TextBoxFor(model => model.Date_From, new { type = "date" })
        </div>
        
        <div class="col-lg-5" style="font-weight:bold;font-size:15px;">
            đến ngày:@Html.TextBoxFor(model => model.Date_To, new { type = "date" })
        </div>
        <input type="submit" value="Search" />
    </div>
}

